@charset "UTF-8";
@media screen and (min-width: 1024px) {
		body {
				width: 100%;
		}
		.site__header {
				background: rgba(255, 255, 255, 0.4);
				max-width: 100%;
				display: flex;
				padding: 0px 20px;
				position: fixed;
				justify-content: space-between;
				align-items: center;
				transition: 0.9s;
				width: 100%;
				padding: 10px 20px;
		}
		.site__header.transform {
				background: rgba(255, 255, 255, 0.9);
				padding: 30px 20px;
		}
		/* logo */
		.site__logo {
				font-style: italic;
				font-family: "Apple Chancery", sans-serif;
		}
		/* menu */
		.gnav__menu {
				display: flex;
		}
		.gnav__menu__list {
				margin-left: 20px;
		}
		.gnav__menu__list a {
				color: #333;
				text-decoration: none;
				transition-duration: 0.3s;
				transition-property: color;
				font-family: "Apple Chancery", sans-serif;
				font-size: 16px;
				font-style: italic;
				/* マウスオーバー */
		}
		.gnav__menu__list a:hover {
				color: #ffc2c2;
		}
}
