@media screen and (min-width: 1024px) {
		body {
				width: 100%;
		}
		.site__header {
				z-index: 99;
				background: rgba(255, 255, 255, 0.4);
				max-width: 100%;
				display: flex;
				position: fixed;
				justify-content: space-between;
				align-items: center;
				transition: 0.9s;
				width: 100%;
				padding: 10px 20px;
		}
		.site__header.transform {
				background: rgba(255, 255, 255, 0.9);
				padding: 30px 20px;
		}
		/* logo */
		.site__logo {
				font-style: italic;
				font-family: "Apple Chancery", sans-serif;
		}
		/* menu */
		.gnav__menu {
				display: flex;
		}
		.gnav__menu__list {
				margin-left: 20px;
		}
		.gnav__menu__list a {
				color: #333;
				text-decoration: none;
				transition-duration: 0.3s;
				transition-property: color;
				font-family: "Apple Chancery", sans-serif;
				font-size: 16px;
				font-style: italic;
		}
		.gnav__menu__list a:hover {
				color: #ffc2c2;
		}
		.faq {
				width: 100%;
				clear: both;
		}
		.faq .by__number {
				display: flex;
				align-items: center;
				font-size: 24px;
				margin-top: 30px;
				margin-bottom: 30px;
				font-family: "Hiragino Mincho ProN";
				font-weight: normal;
		}
		.faq .by__number:before {
				content: "";
				flex-grow: 1;
				height: 1px;
				display: block;
				margin-right: .4em;
				background: linear-gradient(-60deg, #888, transparent);
		}
		.faq .by__number:after {
				content: "";
				flex-grow: 1;
				height: 1px;
				display: block;
				margin-left: .4em;
				background: linear-gradient(60deg, #888, transparent);
		}
		.menu {
				clear: both;
				width: 1000px;
				margin: 0 auto;
				margin-top: 30px;
		}
		.menu__item {
				background: rgba(51, 51, 51, 0.7);
				color: #fff;
				cursor: pointer;
				display: block;
				margin-bottom: 1px;
				position: relative;
		}
		.menu__item__link {
				color: #fff;
				display: block;
				padding: 1rem;
				font-family: "Hiragino Mincho ProN";
		}
		.submenu {
				background: #fff;
				display: none;
		}
		.submenu__item {
				border-bottom: 1px solid #5200b7;
				color: #222;
				padding: 1rem;
				font-family: "Hiragino Mincho ProN";
		}
		
		.demoSpan1 {
				overflow: hidden;
				height: 25px;
		}
		.demoSpan1:before {
				content: '';
				height: 20px;
				width: 20px;
				display: block;
				border: 3px solid white;
				border-right-width: 0;
				border-top-width: 0;
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				position: absolute;
				top: 3px;
				right: 10px;
		}
}
