@charset "UTF-8";
@media screen and (min-width: 1024px) {
		body {
				width: 100%;
		}
		.site__header {
				background: rgba(255, 255, 255, 0.4);
				max-width: 100%;
				display: flex;
				position: fixed;
				justify-content: space-between;
				align-items: center;
				transition: 0.9s;
				width: 100%;
				padding: 10px 20px;
		}
		.site__header.transform {
				background: rgba(255, 255, 255, 0.9);
				padding: 30px 20px;
		}
		/* logo */
		.site__logo {
				font-style: italic;
				font-family: "Apple Chancery", sans-serif;
		}
		/* menu */
		.gnav__menu {
				display: flex;
		}
		.gnav__menu__list {
				margin-left: 20px;
		}
		.gnav__menu__list a {
				color: #333;
				text-decoration: none;
				transition-duration: 0.3s;
				transition-property: color;
				font-family: "Apple Chancery", sans-serif;
				font-size: 16px;
				font-style: italic;
		}
		.gnav__menu__list a:hover {
				color: #ffc2c2;
		}
		/* 価格表 */
		.price {
				width: 100%;
				margin: 0 auto;
				clear: both;
				padding: 30px;
		}
		.price .title {
				display: flex;
				align-items: center;
				font-size: 48px;
				margin-bottom: 100px;
				font-style: italic;
				font-family: "Apple Chancery", sans-serif;
		}
		.price .title:before {
				content: "";
				flex-grow: 1;
				height: 1px;
				display: block;
				margin-right: .4em;
				background: linear-gradient(-90deg, #888, transparent);
		}
		.price .title:after {
				content: "";
				flex-grow: 1;
				height: 1px;
				display: block;
				margin-left: .4em;
				background: linear-gradient(90deg, #888, transparent);
		}
		.price .price__img {
				width: 641px;
				margin: 0 auto;
		}
		.price img {
				margin: 0 auto;
				clear: both;
		}
		.price .by__number {
				display: flex;
				align-items: center;
				font-size: 24px;
				margin-top: 30px;
				margin-bottom: 30px;
				font-family: "Hiragino Mincho ProN";
				font-weight: normal;
		}
		.price .by__number:before {
				content: "";
				flex-grow: 1;
				height: 1px;
				display: block;
				margin-right: .4em;
				background: linear-gradient(-60deg, #888, transparent);
		}
		.price .by__number:after {
				content: "";
				flex-grow: 1;
				height: 1px;
				display: block;
				margin-left: .4em;
				background: linear-gradient(60deg, #888, transparent);
		}
		table {
				width: 900px;
				margin: 0 auto;
				border-collapse: collapse;
				margin-top: 20px;
				margin-bottom: 80px;
		}
		table tbody tr:nth-child(even) {
				background-color: rgba(181, 181, 181, 0.4);
		}
		table tbody th {
				text-align: center;
				font-family: "Hiragino Mincho ProN";
		}
		table tbody th:first-child {
				width: 100px;
				background-color: #fff;
		}
		table tbody th, table tbody td {
				border: 1px solid rgba(181, 181, 181, 0.7);
				height: 40px;
		}
		table tbody td {
				text-align: right;
				font-family: "Apple Chancery", sans-serif;
				padding-right: 10px;
		}
		table tbody td:first-child {
				text-align: left;
				padding-left: 16px;
				font-family: "Hiragino Mincho ProN";
		}
		footer {
				width: 100%;
				background-color: #fff;
		}
		.footerCopyright {
				text-align: center;
				font-size: 12px;
				font-family: "Apple Chancery", sans-serif;
		}
}
