@media screen and (min-width: 1024px) {
    //変数定義
    $font: 'Apple Chancery' ,sans-serif;


    body {
        width: 100%;
    }

    .site__header {
        background :rgba(255, 255, 255, 0.4);
        max-width: 100%;
        display: flex;
        padding: 0px 20px;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        transition: 0.9s;
        width: 100%;
        padding: 10px 20px;
        &.transform {
            background: rgba(255, 255, 255, 0.9);
            padding: 30px 20px;
        }
    }

    /* logo */
    .site__logo {
        font-style: italic;
        font-family: $font;
    }

    /* menu */

    .gnav__menu {
        display: flex;
        &__list {
            margin-left: 20px;
            a {
                color: #333;
                text-decoration: none;
                transition-duration: 0.3s;
                transition-property: color;
                font-family: $font;
                font-size: 16px;
                font-style: italic;
                &:hover {
                    color: rgb(255, 194, 194);
                }
            }
        }
    }
}