@media screen and (min-width: 1024px) {
    //変数定義
    $font: 'Apple Chancery' ,sans-serif;


    body {
        width: 100%;
    }

    .site__header {
        background :rgba(255, 255, 255, 0.4);
        max-width: 100%;
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        transition: 0.9s;
        width: 100%;
        padding: 10px 20px;
        &.transform {
            background: rgba(255, 255, 255, 0.9);
            padding: 30px 20px;
        }
    }

    /* logo */
    .site__logo {
        font-style: italic;
        font-family: $font;
    }

    /* menu */

    .gnav__menu {
        display: flex;
        &__list {
            margin-left: 20px;
            a {
                color: #333;
                text-decoration: none;
                transition-duration: 0.3s;
                transition-property: color;
                font-family: $font;
                font-size: 16px;
                font-style: italic;
                &:hover {
                    color: rgb(255, 194, 194);
                }
            }
        }
    }

    .price {
        width: 100%;
        margin: 0 auto;
        clear: both;
        padding: 30px;
        .title {
            display: flex;
            align-items: center;
            font-size: 48px;
            margin-bottom: 20px;
            font-style: italic;
            font-family: $font;
            &:before {
                content: "";
                flex-grow: 1;
                height: 1px;
                display: block;
                margin-right: .4em;
                background: linear-gradient(-90deg, #888, transparent);
            }
            &:after {
                content: "";
                flex-grow: 1;
                height: 1px;
                display: block;
                margin-left: .4em;
                background: linear-gradient(90deg, #888, transparent);
            }
        }
        .price__img {
            width: 641px;
            margin: 0 auto;
        }
        img {

            margin: 0 auto;
            clear: both;
        }
        
    }
    table {
        width: 900px;
        margin: 0 auto;
        border-collapse: collapse;
        margin-top: 20px;
        tbody{
            tr {
                // width: 200px;
                &:nth-child(even) {
                    background-color: rgba(181, 181, 181, 0.4);
                }
            }
            th {
                text-align: center;
                &:first-child {
                    width: 100px;
                    background-color: #fff;
                }
            }
            th, td {
                border: 1px solid rgba(181, 181, 181, 0.7);
                height: 40px;
            }
            td {
                text-align: right;
                &:first-child {
                    text-align: left;
                    padding-left: 16px;
                    
                }
            }
        }
    }

    footer {
        width: 100%;
        background-color: #fff;
    }

    .footerCopyright {
        text-align: center;
        font-size: 12px;
        font-family: $font;
    }

}