@media screen and (min-width: 1024px) {
    //変数定義
    $font: 'Apple Chancery' ,sans-serif;


    body {
        width: 100%;
    }

    .site__header {
        background :rgba(255, 255, 255, 0.4);
        max-width: 100%;
        display: flex;
        padding: 0px 20px;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        transition: 0.9s;
        width: 100%;
        padding: 10px 20px;
        &.transform {
            background: rgba(255, 255, 255, 0.9);
            padding: 30px 20px;
        }
    }

    /* logo */
    .site__logo {
        font-style: italic;
        font-family: $font;
    }

    /* menu */

    .gnav__menu {
        display: flex;
        &__list {
            margin-left: 20px;
            a {
                color: #333;
                text-decoration: none;
                transition-duration: 0.3s;
                transition-property: color;
                font-family: $font;
                font-size: 16px;
                font-style: italic;
                /* マウスオーバー */
                &:hover {
                    color: rgb(255, 194, 194);
                }
            }
        }
    }

    /* メイン画像 */

    .main__img {
        width: 100%;
        margin: 0 auto;
        clear: both;
        padding-bottom: 56px;
        img {
            width: 100%;
        }
    }

    /* eye__contents */

    .eye__contents {
        max-width: 100%;
        width: 100%;
        .eye__desain {
            width: 100%;
            table {
                width: 100%;
            }
            tr {
                width: 300px;
                padding: 30px;
                margin: 20px;
                // border: 1px solid rgb(255, 182, 193);
                
            }
            tbody {
                display: flex;
                justify-content: center;
            }
            th, td {
                display: block;
                width: 100%;
                text-align: center;
                // border: 1px solid #ffb6c1;
            }
            th {
                height: 100px;
                // border: 1px solid #ffb6c1;
            }
            td {
                height: 50px;
                // white-space: pre-wrap;
                // word-wrap: break-word;
            }
            h2 {
                font-family: $font;
                // border: 1px solid #ffb6c1;
                width: 0 auto;
                text-align: center;
            }

        }
    }
    /* news */
    .news {
        max-width: 100%;
        width: 1000px;
        // border: 1px solid #ffb6c1;
        border-radius: 10px;
        padding: 10px;
        margin: 100px auto 50px;
        justify-content: center;
        &__box {
            display: flex;
            justify-content: space-around;
            // border: 1px solid #ffb6c1;
            
            padding: 30px;
            &:nth-child(even) {
                background-color: rgba(255, 182, 193, 0.2);
                border-radius: 7px;
            }
            li {
                width: 300px;
                padding-right: 30px;
                p {
                    white-space: pre-wrap;
                    word-wrap: break-word;
                }
            }
        }
        h2 {
            font-family: $font;
            // border: 1px solid #ffb6c1;
            width: 0 auto;
            text-align: center;
            padding-bottom: 10px;
        }
    }

    footer {
        width: 100%;
        background-color: #fff;
    }

    .footerCopyright {
        text-align: center;
        font-size: 12px;
    }

}